llama-index==0.10.35
openai==1.16.2
streamlit==1.33.0
streamlit-tree-select==0.0.5
watchdog==4.0.0
extra-streamlit-components==0.1.70
langchain==0.1.13
langchain-openai==0.1.1
langchain-community==0.0.38
langchain-anthropic==0.1.11
requests==2.31.0
google-generativeai==0.4.1
langchain-google-genai==1.0.1
langchain-google-vertexai==0.1.2
google-cloud-aiplatform==1.44.0
sentence-transformers==2.6.1
docx2txt==0.8
openpyxl==3.1.2
python-pptx==0.6.23
ibm-watson-machine-learning==1.0.354
boto3==1.34.78
bigframes==1.1.0
langgraph==0.0.32
langchain-cohere==0.1.2
sortedcontainers
