llama-index==0.9.48
openai
streamlit
watchdog
extra-streamlit-components==0.1.70
langchain
langchain-openai
requests
google-generativeai>=0.3.0
langchain-google-genai
sentence-transformers
docx2txt
openpyxl
python-pptx
google-cloud-aiplatform>=1.38.0
langchain-community
streamlit-tree-select
ibm-watson-machine-learning
langchain-anthropic
boto3
langchain_google_vertexai
bigframes
langgraph
